body {
	font-size:14px;
	font-family:"Open Sans Condensed", sans-serif;
	color: #79797b;
	margin:0;
}

/* —“»À» ƒÀﬂ Œ¡Ÿ»’ ›À≈Ã≈Õ“Œ¬ */

div.fon{
	display:none;
	background:#000000;
	width:200%;
	height:200%;
	position:fixed;
	z-index:400;
	opacity:0.8;
	top:-20px;
}

input[type="button"] {
	font-size:14px;
	font-family:"Open Sans Condensed", sans-serif;
	padding: 10px 15px;
	background:#2d2d2f;
	color:#fff;
	outline:none;
	border:0;
	border-radius:3px;
	-webkit-transition: all 0.5s ease;                  
    -moz-transition: all 0.5s ease;                 
    -o-transition: all 0.5s ease;   
    -ms-transition: all 0.5s ease;          
    transition: all 0.5s ease;
	cursor:pointer;
	cursor:hand;
	text-decoration:none;
}

input[type="button"]:hover {
	font-size:14px;
	font-family:"Open Sans Condensed", sans-serif;
	padding: 10px 15px;
	background:#428bca;
	color:#fff;
	outline:none;
	border:0;
	border-radius:3px;
	cursor:pointer;
	cursor:hand;
	text-decoration:none;
}

input[type="text"] {
	font-size:14px;
	font-family:"Open Sans Condensed", sans-serif;
	color: #79797b;
	width:100%;
	padding:6px;
	box-sizing:border-box;	
	-moz-box-sizing:border-box;
	outline:none;
	border:1px solid #555555;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

input[type="text"]:focus {
	box-shadow:0 0 6px gray;
}

input[type="password"] {
	font-size:14px;
	font-family:"Open Sans Condensed", sans-serif;
	color: #79797b;
	width:100%;
	padding:6px;
	box-sizing:border-box;	
	-moz-box-sizing:border-box;
	outline:none;
	border:1px solid #555555;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

input[type="password"]:focus {
	box-shadow:0 0 6px gray;
}

input.fail {
	color: #79797b;
	background:#FDDFDF;
	border:1px solid #9A1414;
}

input.fail:focus {
	box-shadow:0 0 6px #9A1414;
}

textarea {
	font-size:14px;
	font-family:"Open Sans Condensed", sans-serif;
	color: #79797b;
	width:100%;
	padding:6px;
	box-sizing:border-box;	
	-moz-box-sizing:border-box;
	outline:none;
	border:1px solid #555555;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

textarea:focus {
	box-shadow:0 0 6px gray;
}

textarea.fail {
	color: #79797b;
	background:#FDDFDF;
	border:1px solid #9A1414;
}

textarea.fail:focus {
	box-shadow:0 0 6px #9A1414;
}

select {
	font-size:14px;
	font-family:"Open Sans Condensed", sans-serif;
	color: #79797b;
	width:100%;
	padding:6px;
	box-sizing:border-box;	
	-moz-box-sizing:border-box;
	outline:none;
	border:1px solid #555555;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

select:focus {
	box-shadow:0 0 6px gray;
}

select.fail {
	color: #79797b;
	background:#FDDFDF;
	border:1px solid #9A1414;
}

select.fail:focus {
	box-shadow:0 0 6px #9A1414;
}

a {
	text-decoration:none;
	color:#79797b;
}

a:hover {
	text-decoration:underline;
	color:#428bca;
}

div.relative {
	position:relative;
}

div.deliver {
	
}

div.inline {
	display:inline-block;
	vertical-align:middle;
}

div.delivercent {
	display: table-cell;
	vertical-align:top;
}

div.incenter {
	display:table;
	margin:0 auto;
	width:100%;
}

div.nothingfound {
	color: #F00;
	text-align: center;
	margin: 20px auto;
	font-size: 12px;
}

div.textfail {
	color:red;
}

span.star {
	color:red;
}

/*-- ¬—œÀ€¬¿ﬁŸ≈≈ Œ ÕŒ Œ“¬≈“¿ --*/	

div.answerform {
	position: fixed;
	background: #EFEFEF none repeat scroll 0% 0%;
	box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.3);
	padding: 30px;
	display: none;
	z-index: 500;
	width: 500px;
}

div.answer_main {
	width:100%;
}

div.answer_mainin {

}

div.answer_closeline {
	height:40px;
}

div.answer_close {
	float:right;
}

div.answer_title {
	text-align: center;
	font-size: 15px;
	padding: 20px;
}

/* —“»À» –¿«Ã≈“ » */

div.body{
	
}

div.allheader {
	padding:10px;
	background: #fbfbfc;
	border-bottom: 1px solid #070b0e;
}

div.overhead {
	width:100%;
	margin:0 auto;
}

div.overheadinfo {
	margin:0 auto;
	width:100%;
	display: table;
}

div.overheadleft {
	display:table-cell;
	vertical-align:top;
}

div.overheadright {
	display:table-cell;
	text-align: right;
}

div.head {
	width:100%;
	margin:0 auto;
	
}

div.headinfo {
	margin:0 auto;
	width:100%;
	display: table;
}

div.headcolumnlogo {
	display:table-cell;
	vertical-align: middle;
	padding:10px;
}

div.headcolumn1 {
	display:table-cell;
	vertical-align: middle;

}

div.headcolumn3 {
	
}

div.headcolumn3row1 {
	text-align:right;
}

div.headcolumn3row2 {
	text-align:right;	
}

div.underhead {
	width:100%;
	
}

div.underheadinfo {
	margin:0 auto;
	width:100%;
	display: table;
	
}

div.underheadleft {
	display:table-cell;
	
}

div.underheadright {
	display:table-cell;
	text-align: right;
}

div.allcentermain {
	margin:0 auto;
	width:100%;
	margin-top:10px;
}

div.allcenterblock {
	display: table;
	width: 100%;
	margin:0 auto;
}

div.centermain {
	vertical-align:top;
	display:table-cell;
}

div.centercolumn {

}

div.centerunderslider {
	
}

div.leftunderslider {
	
}

div.rightunderslider {
	
}

div.allfooter {
	border-top: 1px solid #070b0e;
    background: #fbfbfc;
	width:100%;
}

div.allfooterinfo {
	
}

div.overfooter {
	
}

div.underfooter {
	
}

div.underfooterleft {
	
}

div.underfooterright {
	
}

div.counter {
	
}

/* ÃŒƒ”À» –¿«ƒ≈ÀŒ¬ */

/* –‡Á‰ÂÎ˚ Ì‡ ¯‡ÔÍÂ */

div.topchapters {
	position:relative;
	top:2px;
	width:32px;
	height:32px;
	
}

div.topchapters #seechapters {
	width:32px;
	height:32px;
	cursor:pointer;
	cursor:hand;
	font-size:0;
	background:url("/themes/templates/menu.PNG") no-repeat center;
}

div.menuchapters_name {
	color:white;
}

div.menuchapters {
	display:none; 
	position:fixed; 
	height:100%;
	width:0px;
	top:0px;
	z-index:4000; 
	background:#fff; box-shadow:3px 0 5px #363636; 
}

div.menuchapters_block {
	padding:5px; 
	font-size:14px; 
	border-bottom:1px solid #555;
}

/* –‡Á‰ÂÎ˚ ‚ ˆÂÌÚÂ */

div.centerchapters {
	text-align:center;
}

div.centerchapters_in {
	width:100%;
	margin:0 auto;
}

div.centerchapter {
	margin:1px 0;
}

div.centerchapter_topname {
	display:none;
}

div.centerchapter_img {
	vertical-align:top;
	text-align: center;
	display:none;
}

div.centerchapter_imgin {
	text-align: center;
	max-width:280px;
	margin: 0 auto;
	max-height:200px;
}

div.centerchapter_imgin img{
	max-width:280px;
	max-height:200px;
}

div.centerchapter_infoblock {
	vertical-align:top;
	text-align:center;
}

div.centerchapter_bottomname {
	font-size:22px;
background-color: #525157;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF525157', endColorstr='#FF343336');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiÖpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #525157), color-stop(100%, #343336));
    background-image: -moz-linear-gradient(top, #525157 0%, #343336 100%);
    background-image: -webkit-linear-gradient(top, #525157 0%, #343336 100%);
    background-image: linear-gradient(to bottom, #525157 0%, #343336 100%);
padding: 5px 0px;
}

div.centerchapter_bottomname a {
	font-size:22px;
color:#fff;
}

div.centerchapter_bottomname a:hover {
		font-size:22px;
color: #AAC5DC;
}

div.centerchapter_info {
	margin:5px 0;
	display:none;
}

div.centerchapter_button {
	text-align:center;
	display:none;
}

/* ÃŒƒ”À» œŒ»—  */

div.search {
	position:relative;
	left: -20px;
}

div.search_input {
	display:inline-block;
	width: 60%;

}

div.search_input input {
	width: 100%;
}

div.search_button {
	display:inline-block;
}

div.search_button input {
	padding:0;
	background:url("/themes/templates/icon_search.png") no-repeat center;
	width:24px;
	height:24px;
	font-size:0;
	position: absolute;
	top: 4px;
}

div.search_button input:hover {
	padding:0;
	background:url("/themes/templates/icon_search_hover.png") no-repeat center;
	width:24px;
	height:24px;
	font-size:0;
	position: absolute;
	top: 4px;
}

div.dropdownsearch {
	position:absolute;
	z-index:3000;
	width:100%;
}

div.dropdownsearchfon {
	position:relative;
	box-shadow:0 0 2px #eee;
	border:1px solid #e8e8e8;
	left:0px;
	background:white;
}

div.searchrow0 {
	display:table;
	width:100%;
	cursor:pointer;
	cursor:hand;
   
}

div.searchrow1 {
 	display:table;
	width:100%;
	cursor:pointer;
	cursor:hand;
	background:#efefef;
}

div.dropdownname0 {
    text-align:left;
	color:#777;
	padding:5px;	  
	font-size: 11px;
	display:table-cell;
}

div.searchrow0:hover div.dropdownname0 {
	text-align:left;
	color: #777;
	font-size: 11px;
}

div.dropdownname1 {
    text-align:left;
	color:#777; 
	padding:5px;  
	font-size: 11px;
	display:table-cell;
}

div.searchrow1:hover div.dropdownname1 {
	color: #777;
	font-size: 11px;
	text-align:left;
}

div.dropdownprice0 {
	text-align:right;
    color: #ec6d58;
    font-size: 11px;
	padding:5px;
	display:table-cell;
}

div.searchrow0:hover div.dropdownprice0 {

}

div.dropdownprice1 {
	text-align:right;
    color: #ec6d58;
    font-size: 11px;
    padding:5px;
	display:table-cell;
}

div.searchrow1:hover div.dropdownprice1 {

}

/* ÕŒ¬Œ—“Õ¿ﬂ À≈Õ“¿ */

/* ÕÓ‚ÓÒÚÌ‡ˇ ÎÂÌÚ‡ ‚ ˆÂÌÚÂ */

div.centerarticles_main {
	text-align: Center;
	margin:10px 0;
}

div.centerarticles_title {
	text-transform: uppercase;
    border: 1px solid #e0e0e1;
    background: #f2f2f5;
    color: #3e3d41;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	margin-bottom:10px;
}

div.centerarticle {
	display:inline-block;
	vertical-align:top;
	max-width: 280px;
	min-width: 280px;
	margin:15px;
	text-align:center;
}

div.centerarticle_img {
	width: 280px;
	height: 200px;
	margin: 0px auto;
	background: #fff;
	border-radius: 3px;
	
}

div.centerarticle_imgin {
	max-height:200px;
	overflow:hidden;
}

div.centerarticle_imgin img{
	max-width:280px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

div.centerarticle_info {
	text-align:center;
	margin-top:20px;
}

div.centerarticle_topname {
	display:none;
}

div.centerarticle_name {
	padding:10px 0px 10px 0;
	height:40px;
}

div.centerarticle_name a {
	font-size:16px;
	color:#000;
	text-decoration:none;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

div.centerarticle_name a:hover {
	font-size:16px;
	color:#000;
	text-decoration:underline;
}

div.centerarticle_short {
	margin: 5px 0px;
	text-align:left;
}

div.centerarticle_date {
	font-size: 14px;
	padding: 8px;
}

div.centerarticle_seeall {
	text-align:center;
}

/* ÕÓ‚ÓÒÚÌ‡ˇ ÎÂÌÚ‡ ÒÚ‡ÌËˆ‡ */

div.pagearticles {
	text-align: center;
}

div.pagearticle {
	margin:5px 0;
	text-align:center;
}

div.pagearticle_img {
	
	vertical-align:top;
}

div.pagearticle_imgin {
	
}

div.pagearticle_imgin img{
	max-width:90%;
}

div.pagearticle_info {
	padding:10px;
	text-align:center;
	vertical-align:top;
	
}

div.pagearticle_topname {
	display:none;
}

div.pagearticle_name {
	margin-bottom: 3px;
}

div.pagearticle_name a {
	font-size: 16px;
	text-decoration:none;
}

div.pagearticle_short {
	margin: 3px 0;
}

div.pagearticle_date {
	font-size: 12px;
}

/* —Ú‡ÌËˆ‡ ˝ÎÂÏÂÌÚ‡ ÎÂÌÚ˚ */

div.articleback {
	margin: 10px 0;
}

div.articlename {
	margin-bottom: 20px;padding:10px;
}

h1{
	font-weight:normal;
	padding:4px 10px;
}

div.articletext {
	padding:10px;
}

div.articledate {
font-size: 13px;

padding: 8px;	
}

div.article_commall {
	
}

div.articlecomments {
	
}

div.commenthorseparator {
	
	
}

div.commentquote {
	
}

div.oneartcomm {
	
}

/* ’À≈¡Õ€≈  –Œÿ » */

div.breads {
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background:#efefef;
}

div.linkicon {
	display:inline-block;
	vertical-align:middle;
	padding: 0 10px;
	font-size:13px;
}

div.link {
	display:inline-block;
	vertical-align:middle;
}

div.link a {
	font-size:13px;
	text-decoration:none;
}

div.link a:hover {
	font-size:13px;
	text-decoration:underline;
	color:#AAC5DC;
}

div.linkactive {
	display:inline-block;
	vertical-align:middle;
}

div.linkactive a {
	font-size:13px;
	color:#AAC5DC;
}

div.linkactive a:hover {
	font-size:13px;
	text-decoration:underline;
	color:#AAC5DC;
}

/* «¿ ¿«¿“‹ «¬ŒÕŒ  */

div.callme {
	
}

div.callmeform {
	position: fixed;
	background: #EFEFEF none repeat scroll 0% 0%;
	box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.3);
	padding: 30px;
	display: none;
	z-index: 500;
	width: 500px;
}

div.callme_main {
	width:100%;
}

div.callme_mainin {

}

div.callme_closeline {
	height:40px;
}

div.callme_close {
	float:right;
}

div.callme_title {
	text-align:center;
	font-size:15px;
}

div.callme_line {
	margin:3px 0;
}

div.callme_block {
	
}

div.callme_button {
	
}

/* —À¿…ƒ≈– */

div.sliderback {
	
}

div.slider {
	
}
div.sliderimg {
	
	border-bottom:1px solid #dedede;
	
}

div.advbanner {
	position:absolute;
}

div.sliderarrows {
	
}

div.sliderleft {
	position:absolute;
	z-index:100;
	top:40%;
	left:43px;
}

div.sliderleft input {
	background:url("/themes/templates/arrow_left.png") no-repeat center;
	width:36px;
	height:36px;
	font-size:0;
	padding:0;
	border:0;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

div.sliderleft input:hover {
	background:url("/themes/templates/arrow_left_hover.png") no-repeat center;
	width:36px;
	height:36px;
	font-size:0;
	padding:0;
	border:0;
}

div.sliderright {
	position:absolute;
	z-index:100;
	margin-left:100%;
	left:-100px;
	top:40%;
}

div.sliderright input {
	background:url("/themes/templates/arrow_right.png") no-repeat center;
	width:36px;
	height:36px;
	font-size:0;
	padding:0;
	border:0;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

div.sliderright input:hover {
	background:url("/themes/templates/arrow_right_hover.png") no-repeat center;
	width:36px;
	height:36px;
	font-size:0;
	padding:0;
	border:0;
}

div.sliderbuttons {
	position:relative; 
	top:100%; 
	z-index:100;
	text-align: center;
}

div.sliderbuttonsin {
	
}

div.sliderbutton {
	display:inline-block;
}

div.slidernext {
	background:#fff;
	border:1px solid #2b3944;
	width:18px;
	height:18px;
	margin:3px;
	font-size:0;
	cursor:pointer;
	cursor:hand;
}

div.slidernextact {
	background:#2b3944;
	border:1px solid #2b3944;
	width:18px;
	height:18px;
	margin:3px;
	font-size:0;
	cursor:pointer;
	cursor:hand;
}

/* √¿À≈–≈ﬂ */

/* —Ú‡ÌËˆ‡ „‡ÎÂÂË */

div.pagegallery {

}

div.gallery {
	display:inline-block;
	vertical-align:top;
	width:290px;
	margin:5px;
}

div.gallery_img {
	width: 290px;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

div.gallery_imgin {
	
}

div.gallery_imgin img{
	max-width:290px;
	max-height:150px;
}

div.gallery_text {
	text-align: center;
	padding-top:10px;
}

/* —Î‡È‰Â „‡ÎÂÂË */

div.slidergallerys {
	position: relative;
	padding-bottom:10px;
	margin-top:20px;
}

div.slidergallery_title {
	text-transform: uppercase;
    border: 1px solid #e0e0e1;
    background: #f2f2f5;
    color: #3e3d41;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	margin-bottom:10px;
}

div.slidergallery_info {
	margin: 0 auto;
}

div.slidergallery_left {
	display:table-cell;
	vertical-align: middle;
	padding-right:20px;
}

div.slidergallery_right {
	display:table-cell;
	vertical-align: middle;
	padding-left:20px;
}

div.slidergallery_center {
	vertical-align: middle;
	display:table-cell;
	margin:0 auto; 
	width:100%;
}

div.slidergallery_cont {
	
}

div.slidergallery_contin {
	
}

div.slidergallery_main {
	display:table-cell; 
	vertical-align: top;
}

div.slidergallery {
	margin:5px;


}

div.slidergallery_topname {
	display:none;
}

div.slidergallery_bottomname {
	text-align:center;
}

div.slidergallery_bottomname a {
color: #AAC5DC;
font-size: 15px;

}

div.slidergallery_bottomname a:hover {
color: #AAC5DC;
font-size: 15px;

			-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
text-decoration:none;
}

div.slidergallery_img {
	vertical-align:middle;
	display:table-cell;
	text-align:center;
	max-width: 362px;
	height:200px;
	overflow:hidden;
}

div.slidergallery_img:hover {
	vertical-align:middle;
	display:table-cell;
	text-align:center;
	max-width: 362px;
	height:200px;
	overflow:hidden;
}

div.slidergallery_imgin {
	height: 200px;
}

div.slidergallery_imgin img{
	max-width:362px;
	max-height:200px;
}

div.slidergallery_seeall {
	text-align:center;
	margin:15px 0;
}

/* Œ“«€¬€ */

/* ‘ÓÏ‡ ‰Ó·‡‚ÎÂÌËˇ */

div.addcomment {
	width: 50%;
    margin: 0 auto;
	margin-top:30px;
}

div.addcomment_title {
	text-align:center;
	color:red;
}

div.addcommenttitle {
	padding: 10px 0px 10px;
	font-size: 21px;
	text-align: center;
	margin: 0px auto 10px;
}

div.addcomment_line {
	margin:10px 0;
}

div.addcomment_block{
	
}

div.addcomment_button {
	text-align:center;
}

div.addcomment_info {

}

/* —Ú‡ÌËˆ‡ ÓÚÁ˚‚Ó‚ */

div.pagecomments {

}

div.pagecomment {
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

div.pagecomment_info {
	display:table;
	width:100%;
}

div.pagecomment_name {
	display:table-cell;
	color: #1F2931;
	font-size: 18px;
}

div.pagecomment_text {
	color: #476776;
	font-size: 16px;
}

div.pagecomment_date {
	display:table-cell;
	text-align:right;
	font-style:italic;
}

div.pagecomment_separator {

}

/* ŒÚÁ˚‚˚ ‚ ˆÂÌÚÂ */

div.centercomments {
	vertical-align:top;
}

div.centercomments_title {
	text-transform: uppercase;
    border: 1px solid #e0e0e1;
    background: #f2f2f5;
    color: #3e3d41;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	margin-bottom:10px;
}

div.centercomment {

}

div.centercomment_info {
	margin:10px 0;
	display:table;
	width:100%;
}

div.centercomment_name {
	display:table-cell;
	font-size:18px;
}

div.centercomment_text {
	font-size:16px;
	margin:5px 0;
}

div.centercomment_date {
	display:table-cell;
	margin-left:50px;
	font-size:13px;
	color:silver;
	text-align:right;
}

div.centercomment_seeall {

}

/* FAQ */

/* ‘ÓÏ‡ ‰Ó·‡‚ÎÂÌËˇ */

div.addfaq {
	width: 50%;
	margin: 30px auto 0px;
}

div.addfaqtitle {
	padding: 10px 0px 10px;
	font-size: 21px;
	text-align: center;
	margin: 0px auto 10px;}

div.addfaq_line {
	margin: 10px 0px;
}

div.addfaq_block{
	
}

div.addfaq_button {
	text-align:center;
}

div.addfaq_info {

}

/* —Ú‡ÌËˆ‡ ÓÚÁ˚‚Ó‚ */

div.pagefaqs {

}

div.page_faq {
	padding: 10px;
	margin: 10px auto;
}

div.pagefaq_info {
	display:table;
	width:100%;
}

div.pagefaq_name {
	display:table-cell;
	color: #1F2931;
	font-size: 18px;
}

div.pagefaq_text {
	font-size: 16px;
}

div.pagefaq_date {
	display:table-cell;
	text-align:right;
}

div.pagefaq_textseparator {

}

div.pagefaq_answerinfo {
	display:table;
	width:100%;
}

div.pagefaq_answername {
	display: table-cell;
	color: #1F2931;
	font-size: 15px;
	padding-top: 20px;
}

div.pagefaq_answertext {
	background: #F0F0F0 none repeat scroll 0% 0%;
	padding: 10px 10px 10px 30px;
	border: 1px solid #DEDEDE;
	color: #476776;
	font-size: 16px;
}

div.pagefaq_answerdate {
	display:table-cell;
	text-align:right;
}

div.pagefaq_separator {

}

/* ‘Œ–Ã¿ —¬ﬂ«» */

div.feedback_main {
	min-width:300px;
	vertical-align:top;
	padding:20px 10px;
	margin-left:20px;
}

div.feedback_in {

}

div.feedback_title {
	text-transform: uppercase;
    border: 1px solid #e0e0e1;
    background: #f2f2f5;
    color: #3e3d41;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

div.feedback_titlein {
	font-size:14px;
	text-align:center;
}

div.feedback_info {

}

div.feedback_line {
	margin:10px 0;
}

div.feedback_blockname {
	vertical-align:top;
}

div.feedback_blockparam {
	vertical-align:top;
}

div.feedback_button {
	text-align:center;
}

div.feedback_button input {

}

/* √ŒÀŒ—Œ¬¿Õ»ﬂ */

div.columnpolls {
	margin-top:20px;
	padding: 5px;
}

div.columnpolls_title {
	text-transform: uppercase;
    border: 1px solid #e0e0e1;
    background: #f2f2f5;
    color: #3e3d41;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

div.columnpoll {

}

div.columnpoll_info {

}

div.columnpoll_infoin {
	display:table;
	width:100%;
}

div.columnpoll_radio {
	display:table-cell;
	vertical-align:middle;
	width:1%;
}

div.columnpoll_name {
	display:table-cell;
	vertical-align:middle;
	padding: 5px 0;
}

div.columnpoll_votes {
	display:table-cell;
	vertical-align:middle;
	width:1%;
	color:#AAC5DC;
}

div.columnpoll_line {
	background:#2b3944;
}

div.columnpoll_linein {
	background: #AAC5DC none repeat scroll 0% 0%;
	border-bottom: 1px dashed #476776;
	height: 25px;
	border-top: 1px dashed #476776;
}

/* –≈√»—“–¿÷»ﬂ */

div.registration_main {
	margin: 0px auto;
	padding: 10px;
	margin-top: 10px;
}

div.registration_title {
	padding: 10px 0px;
	font-size: 12px;
	text-align: right;
	margin: 0px auto 10px;
}

div.registration_blockin {
	
}

div.registration_line {
	display:table;
	width:100%;
}

div.registration_blockname {
	
	padding: 4px;
	vertical-align:middle;
}

div.registration_blockparam {
	
	padding: 4px;
	vertical-align:middle;
}

div.registration_button {
	text-align: center;
	margin: 20px;
}

div.registration_maincomp {

}

/* Œ ÕŒ ¬’Œƒ¿ */

div.loginform {
	position: fixed;
	background: #EFEFEF none repeat scroll 0% 0%;
	box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.3);
	padding: 30px;
	display: none;
	z-index: 500;
	width: 90%;
}

div.login_main {
	width:100%;
}

div.login_mainin {

}

div.login_closeline {
	height:40px;
}

div.login_close {
	float:right;
}

div.login_title {
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px;
	color:#2b3944;
}

div.login_line {
	
}

div.login_block {
	margin-bottom:10px;
}

div.login_button {
	
}

div.login_info {
	
}

div.login_forget {
	margin-top:3px;
	float:right;
}

div.login_maininsocial {

}

div.login_titlesocial {
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px;
	color:#2b3944;
}

div.login_titlesocialin {
	text-align:center;
}

div.login_socialfb {
	display:inline-block;
	padding:5px;
}

div.login_socialfb input  {
	width:50px;
	height:50px;
	background:url('/themes/templates/f.png') no-repeat;
	border:0;
	font-size:0;
	color:transparent;
	padding:0;
}

div.login_socialfb input:hover {
	width:50px;
	height:50px;
	background:url('/themes/templates/f.png') no-repeat;
	border:0;
	font-size:0;
	color:transparent;
	padding:0;
}

div.login_socialod {
	display:inline-block;
	padding:5px;
}

div.login_socialod input  {
	width:50px;
	height:50px;
	background:url('/themes/templates/od.png') no-repeat;
	border:0;
	font-size:0;
	color:transparent;
	padding:0;
}

div.login_socialod input:hover {
	width:50px;
	height:50px;
	background:url('/themes/templates/od.png') no-repeat;
	border:0;
	font-size:0;
	color:transparent;
	padding:0;
}

div.login_socialgg {
	display:inline-block;
	padding:5px;
}

div.login_socialgg input  {
	width:50px;
	height:50px;
	background:url('/themes/templates/g.png') no-repeat;
	border:0;
	font-size:0;
	color:transparent;
	padding:0;
}

div.login_socialgg input:hover {
	width:50px;
	height:50px;
	background:url('/themes/templates/g.png') no-repeat;
	border:0;
	font-size:0;
	color:transparent;
	padding:0;
}

div.login_socialvk {
	display:inline-block;
	padding:5px;
}

div.login_socialvk input  {
	width:50px;
	height:50px;
	background:url('/themes/templates/vk.png') no-repeat;
	border:0;
	font-size:0;
	color:transparent;
	padding:0;
}

div.login_socialvk input:hover {
	width:50px;
	height:50px;
	background:url('/themes/templates/vk.png') no-repeat;
	border:0;
	font-size:0;
	color:transparent;
	padding:0;
}

/* ¿¬“Œ–»«¿÷»ﬂ */

/*  ÌÓÔÍË */

div.buttonsusers {
	
}

div.buttonsusers_main {

}

div.buttonsusers_button1 {
	display:inline-block;
}

div.buttonsusers_button1 input {
	display:inline-block;
	background:transparent;
	border-top:4px solid #4f677a;
	color:#4f677a;
	text-transform:uppercase;
	padding: 5px 5px;
font-size: 14px;
	border-radius:0;
}

div.buttonsusers_button1 input:hover {
	display:inline-block;
	background:transparent;
	border-top:4px solid #AAC5DC;
	color:#AAC5DC;
	text-transform:uppercase;
	padding: 5px 5px;
	font-size: 14px;
	border-radius:0;
}

div.buttonsusers_button2 {
	display:inline-block;
}

div.buttonsusers_button2 input{
	display:inline-block;
	background:transparent;
	border-top:4px solid #4f677a;
	color:#4f677a;
	text-transform:uppercase;
	padding: 5px 5px;
	font-size: 14px;
	border-radius:0;
}

div.buttonsusers_button2 input:hover{
	display:inline-block;
	background:transparent;
	border-top:4px solid #AAC5DC;
	color:#AAC5DC;
	text-transform:uppercase;
	padding: 5px 5px;
	font-size: 14px;
	border-radius:0;
}

div.buttonsusers_button3 {
	display:inline-block;
}

div.buttonsusers_button3 input{
	display:inline-block;
	background:transparent;
	border-top:4px solid #4f677a;
	color:#4f677a;
	text-transform:uppercase;
	padding: 5px 5px;
	font-size: 14px;
	border-radius:0;
}

div.buttonsusers_button3 input:hover{
	display:inline-block;
	background:transparent;
	border-top:4px solid #AAC5DC;
	color:#AAC5DC;
	text-transform:uppercase;
	padding: 5px 5px;
	font-size: 14px;
	border-radius:0;
}

div.buttonsusers_button4 {
	display:inline-block;
}

div.buttonsusers_button4 input{
	display:inline-block;
	background:transparent;
	border-top:4px solid #4f677a;
	color:#4f677a;
	text-transform:uppercase;
	padding: 5px 5px;
font-size: 14px;
	border-radius:0;
}

div.buttonsusers_button4 input:hover{
	display:inline-block;
	background:transparent;
	border-top:4px solid #AAC5DC;
	color:#AAC5DC;
	text-transform:uppercase;
	padding: 5px 5px;
font-size: 14px;
	border-radius:0;
}




/* œÓÎˇ */

div.polesusers {
	
}

div.polesusers_main {
	
}

div.polesusers_enter {
	
}

div.polesusers_enter1 {
	
}

div.polesusers_enter1 {
	
}

div.polesusers_button {
	
}

div.polesusers_button1 {
	
}

div.polesusers_button2 {
	
}

div.polesusers_titlesoc {
	
}

div.polesusers_social {
	
}

div.polesusers_fb {
	
}

div.polesusers_gg {
	
}

div.polesusers_vk {
	
}

div.polesusers_od {
	
}

div.polesusers_forget {
	
}

div.polesusers_mainin {
	
}

div.polesusers_enterin {
	
}

div.polesusers_buttonsin {
	
}

div.polesusers_buttonsin1 {
	
}

div.polesusers_buttonsin2 {
	
}

div.polesusers_buttonsin3 {
	
}

div.polesusers_buttonsin4 {
	
}

/* ¿  ¿”Õ“ */

div.accountinfo {

}

div.userwelcome {
color: #1F2931;
padding: 10px 0px;
font-size: 21px;
text-align: center;
margin: 0px auto 10px;
border-bottom: 1px solid #1F2931;
}

div.accounttabs {

}

div.accounttabposition {
	
	vertical-align:bottom;
}


div.accounttab {
	padding: 10px 20px;
	border: 1px solid  #555;
	
	-webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
	cursor:pointer;
	cursor:hand;
	background:#fbfbfc;text-align:center;
}

div.accounttab:hover {
	padding: 10px 20px;
	border: 1px solid #555;
	text-align:center;
	color: #FFF;
	background: #AAC5DC none repeat scroll 0% 0%;
	cursor: pointer;
}

div.accountactivetab {
	padding: 10px 20px;
	border: 1px solid #555;
	text-align:center;
	color: #FFF;
	background: #AAC5DC none repeat scroll 0% 0%;
	cursor: pointer;
}


div.accounttabinfo {
	padding: 20px;
}

div.account_userdata {

}

div.account_userdatacolumn1 {
	
	vertical-align:top;
}

div.account_userdatacolumn2 {
	
	vertical-align:top;
	
}

div.account_button{
	text-align:center;
	margin-top:20px;
}

div.account_blockname {
	color: #476776;
	font-size: 16px;
	padding: 10px 0px 0px 0px;
}

div.account_title{
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #555;
	padding: 0px 0px 10px 0px;
	width: 50%;
	margin: 0 auto;
}


/* œŒ»—  */

div.searchtextpage {

}

div.searchtextname {

}

div.searchtext {

}

div.searchtexthorseparator {

}

div.searchtextfail {

}

/* Ã¿“≈–»¿À€ */

div.notemenu {
	
}

div.notetabposition {
	display:inline-block;
	vertical-align:bottom;
}

div.notetab {
	padding:8px 20px;
	border:1px solid silver;
	height:30px;
	-webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
	cursor:pointer;
	cursor:hand;
}

div.notetab:hover {
	padding:8px 20px;
	height:30px;
	color:white;
	background:#555;
}

div.notetab:hover a {
	color:white;
	text-decoration:none;
}

div.notetabact {
	padding:8px 20px;
	border:1px solid silver;
	height:30px;
	color:white;
	background:#555;
	cursor:pointer;
	cursor:hand;
}

div.notetabact a {
	color:white;
	text-decoration:none;
}

div.notetext {

}

/* ﬂ«€ » */

div.languages {

}

div.languageact {

}

div.language{
	
}



